# config file for ansible-csr1000v 
[defaults]
# Use local hosts file in this folder
inventory=./hosts 
host_key_checking = False # Don't worry about RSA Fingerprints
retry_files_enabled = False # Do not create them
deprecation_warnings = False # Do not show warnings
